<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<h1> Wlcm</h1>
<form action="/analyze" method="get">
    <textarea name="text" style="margin: 2px; width: 721px; height: 93px;"> </textarea>
    <br>
    <input type="checkbox" name="removepunc"> Remove Punctuation <br>
    <input type="checkbox" name="fullcaps"> TO UPPERCASE <br>
    <input type="checkbox" name="newlineremover"> New Line Remove <br>
    <input type="checkbox" name="extraspaceremover"> Extra Space Remover <br>
    <input type="checkbox" name="charcount"> Character Counter <br>
<button type="submit"> Analyze</button>
</form>
</body>
</html>